/* Global Style */

* {
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #4A4A4A;
  text-align: center;
  line-height: 1.6em;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 1em;
}

/* Header Styles */

header {
  background: #E2E2E2;
  padding: 30px 0;
}

header h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2em;
}

header p {
  color: #727671;
}

ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  background: #fff;
  margin: 6px 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
}

.profile-image {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 70%;
}

/* Portfolio Styles */

.portfolio {
  padding: 40px 0 20px;
}

.portfolio img {
  width: 100%;
}

.portfolio li {
  margin-bottom: 70px;
}

.portfolio h3 {
  font-weight: normal;
}

/* Footer Styles */

footer {
  background: #E2E2E2;
  padding-top: 25px;
  padding-bottom: 10px;
}

footer h2 {
  margin-bottom: 40px;
}

footer p {
  color: #727671;
}

.add-bottom-margin {
  margin-bottom: 25px;
}

footer span {
  margin-left: 20px;
  font-weight: 700;
}

.footer-line {
  border-top: 1px solid #A5A9A4;
  margin-top: 40px;
}

.footer-line h3 {
  float: left;
  font-size: 1em;
}

.footer-line p {
  float: right;
  text-transform: uppercase;
  font-weight: 700;
  color: #4A4A4A;
}

.clearfix:after {
   content: "";
   display: table;
   clear: both;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

  /* Header Styles */
  nav ul {
    display: inline-block;
    margin: 0;
  }
  nav ul li {
    float: left;
    background: none;
    margin-left: 30px;
    margin-right: 30px;
  }

  .header-info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .profile-image {
    width: 37%;
    float: right;
    margin: 0;
  }

  .header-info p {
    width: 61.5%;
    float: left;
    margin: 0;
    padding-right: 1.5%;
    font-size: 1.2em;
  }

  /* Portfolio Styles */

  .portfolio-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-item {
    flex-basis: 49%;
  }

}

@media screen and (min-width: 1024px) {
  /* Header Styles */
  header h1 {
    float: left;
    padding-top: 15px;
    font-size: 1.7rem;
    margin-bottom: 30px;
  }

  nav ul {
    float: right;
  }

  nav ul li {
    margin-right: 0;
  }

  .header-info p {
    text-align: left;
  }

  /* Portfolio Styles */

  .portfolio-item {
    /* flex-grow: 1; */
    flex-basis: 32%;
  }

}
